{% extends "layout.html" %}

{% block content %}

  <script type="text/javascript" src="{{ url_for('static', filename = 'china_map.js') }}"></script>
  <script>
    const regionImages = {{ region_images | tojson }};
  </script>
    
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

  <div class="main-map">
    <h2 class="instruction">Hover on one of the region dots to explore!</h2>
    <div class="map-container">
      <img src="{{ url_for('static', filename='media/map.png') }}" alt="China map" class="china-map">
  
      {% for region in regions.keys() %}
      <div class="dot dot-{{ region|lower }} {% if hovered_region == region %}active{% endif %}" data-region="{{ region }}"></div>
      {% endfor %}
  
      <!-- Hover pop-up -->
      <div class="region-info-box hidden" id="region-info">
        <img id="region-image" src="" alt="Region image">
        <div class="region-info-text">
          <h4 id="region-name"></h4>
          <a id="explore-link" href="#">Explore ></a>
        </div>
      </div>
    </div>
  
    <div class="progress-container">
      <label for="progress">Progress Bar</label>
      <input type="range" id="progress" min="0" max="{{ max_progress }}" value="{{ progress }}" disabled>
      <div class="progress-labels">
        <span>0</span>
        <span>{{ max_progress }}</span>
      </div>
    </div>
  </div>
{% endblock %}